.burger {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 40;
  left: 85%;
  transition: opacity 1s;
  opacity: 1;
}

.line {
  border: solid 1.5px black;
  margin: 10px;
  cursor: pointer;
}
