// Color scheme going to use later
//  #ABC270 - Green
//  #FEC868 - Sand
//  #FDA769 - Clay
//  #473C33 - Coal

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  .btn {
    padding: 5px 15px;
  }
  // NEW BOOK FORM SECTION
  #new-book {
    width: 400px;
    margin: 30px;

    #new-book-form {
      background: rgba(0, 0, 0, 0.2);
      padding: 20px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      input {
        height: 40px;
      }
    }
  }

  //   BOOKS SECTION
  #books {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h2 {
      margin: 0px 0px 30px;
    }

    .books-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .single-book {
        border-radius: 10px;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: 300px;
        height: auto;
        overflow: hidden;

        img {
          width: 100%;
        }

        p {
          margin: 10px 0px;
        }

        .book-info {
          margin: 10px;
        }

        .book-controls {
          display: flex;
          gap: 10px;
          margin: 10px;
        }
      }
    }
  }
}
